<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hot dog not hot dog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
     <div>
    <img src='<%= img%>' alt='#'> 
  
    <ul>
      <li>Anger: <%=data.anger%></li>
      <li>Contempt: <%=data.contempt%></li>
      <li>Disgust: <%=data.disgust%></li>
      <li>Fear: <%=data.fear%></li>
      <li>Happiness: <%=data.happiness%></li>
      <li>Neutral: <%=data.neutral%></li>
      <li>Sadness: <%=data.sadness%></li>
      <li>Surprise: <%=data.surprise%></li>
    </ul>
  

    <form action="/" enctype="multipart/form-data" method="post" id="form1">
      <input type="file" name="emotion-upload">
      <input type="file" name="image-upload">
      <input type="submit" value="Upload" form="form1">
    </form>  
    

    
    <% if(locals.count > 0) { %>
      <img src='<%= img%>' alt='Hot dog'> 
      <h1>Hot Dog</h1>
  <% }else { %>
      <img src='<%= img%>' alt='Not Hot dog'> 
      <h1> Not Hot Dog </h1>
  <% } %>

  

    </div>
  </body>
</html>